@page "/"
@inject ITripService tripService;

<h5>What would you like to do?</h5>

<div>
    <a href="TripDistance">Calculate a trip distance</a>
</div>
<div>
    <a href="TripByStops">Take a trip by number of stops</a>
</div>
<div>
    <a href="TripByDistance">Take a trip by distance</a>
</div>
<div>
    <a href="FindRoutes">Find available routes to a destination</a>
</div>
<div>
    <a href="ShortestRoute">Take the shortest route to your destination</a>
</div>


@code {
}
