@page "/"
@using Blazor.Extensions.Canvas.Canvas2D;
@using Blazor.Extensions;

<h1>Welcome to Kiwiland Railroad</h1>
<h5>Choose your starting location.</h5>

<BECanvas Width="1024" Height="768" @ref="canvas"></BECanvas>
`
@code {
    private Canvas2DContext context;

    protected BECanvasComponent canvas;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        this.context = await this.canvas.CreateCanvas2DAsync();
       
        var centerX = canvas.Width / 2;
        var centerY = canvas.Height / 2;
        var radius = 70;

        await this.context.BeginPathAsync();
        await this.context.ArcAsync(centerX, centerY, radius, 0, 2 * Math.PI, false);
        await this.context.SetFillStyleAsync("green");
        await this.context.FillAsync();
        await this.context.SetLineWidthAsync(5);
        await this.context.SetStrokeStyleAsync("#003300");
        await this.context.StrokeAsync();
        
        await this.context.SetFontAsync("48px serif");
        await this.context.StrokeTextAsync("Hello Blazor!!!", 10, 100);
    }
}