@page "/"
@inject ITripService tripService;

<h5>What would you like to do?</h5>

<div class="pb-2">
    <a href="TripDistance">Calculate a trip distance</a>
    <div class="small text-secondary">(Outputs 1-5)</div>
</div>
<div class="pb-2">
    <a href="TripByStops">Take a trip by number of stops</a>
    <div class="small text-secondary">(Outputs 6-7)</div>
</div>
<div class="pb-2">
    <a href="ShortestRoute">Take the shortest route to your destination</a>
    <div class="small text-secondary">(Outputs 8-9)</div>
</div>
<div class="pb-2">
    <a href="AvailableRoutes">Find available routes to a destination</a>
    <div class="small text-secondary">(Output 10)</div>
</div>

@code {
}
