@page "/TripDistance"
@inject ITripService tripService;

<h5>Calculate a trip distance</h5>

<div class="form-group">
    <label for="tripDistance">Enter your route:</label>
    <input id="tripDistance" @bind="@Trip" />
    <small id="tripDistanceHelp" class="form-text text-muted">Enter your route. Example: ABC</small>
</div>    
<div id="results mb-2">
    @Message
</div>
<button type="button" class="btn btn-primary" @onclick="GetTripDistance">Submit</button>

@code {
    private string Trip { get; set; } = "";
    private string Message { get; set; }

    private void GetTripDistance()
    {
        var distance = 0;
        try
        {
            var route = tripService.GetRouteFromString(Trip);
            distance = tripService.GetTripDistance(route);

            Message = $"The distance of your trip is: {distance}";
        }
        catch (Exception ex)
        {
            Message = ex.Message;
        }
    }
}